{% extends 'base.html.twig' %}

{% block title %}Skprotect{% endblock %}

{% block body %}
	<div class="container">
	    <div class="row"  style=" margin-top:7%">
			<div class="col-sm-8">
					<h1 class="text-primary">Présentation</h1>
					<p class="mt-4" >La sécurité est une profession complexe qui a besoin  d'acteur responsable, professionnel et engagé.</p>
					<p>SK PROTECT est spécialisé dans la protection des biens  et des personnes. Nous vous proposons une oﬀre</p>
					<p>Complète et personnalisée.Particulier ou professionnels  nous intervenons pour vous en Île de France et ses  alentours.</p>
					<p>Nos équipes sont formées et évaluées  régulièrement.Nous disposons également de matériels évolués afin  de répondre au mieux à vos besoins.</p>
					<p>Notre société à pour mission de vous accompagner  24h/24h et 7J/7J. Nous saurons répondre à vos  diﬀérentes attentes et exigences.</p>
					<p>Nous disposons d'agents formés et qualifiés aux  métiers de la sécurité</p>
					
			</div>
			<div class="col-sm-4">
				<h1 class="text-primary">Structure Interne</h1>
					<p class="mt-4" >Notre Société dispose de professionnels encadrés par une structure solide disposant de moyens importants et d’un équipement à la pointe de la technologie. La société s’articule sur un schéma organisationnel simple et fiable composé de son gérant, d’un expert-comptable. concernant la partie technique, nous disposons d’un inspecteur de sites qui procède aux contrôles inopinés de nos salariés tout en s’assurant que nous restons bien dans le cadre législatif de la profession ainsi que la qualité des Prestations.</p>
					
			</div>
	    </div>
		<div class="row">
			 <img src="image/5.jpg" class="rounded   d-block" alt="" style="height: 200px;">
            <img src="image/6.jpg" class="rounded  d-block" alt="" style="height: 200px;">
            <img src="image/7.jpg" class="rounded   d-block" alt="" style="height:200px;">
			<img src="image/4.jpg" class="rounded   d-block" alt="" style="height: 200px;">
        
	  
	    </div>
		
					
							
	</div>


{% endblock %}
